* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Fredoka One', cursive;
}
header{
    background: #4B4D4E;
}
h1 {
    letter-spacing: .5rem;
    text-shadow: 0px 6px 6px rgba(0,0,0,0.32);;
}

#play-again {
    background: #5B6BA5;
}
body {
    background: url("img/illustration-low-poly-symmetry-green-blue-triangle-73889-wallhere.com.jpg")no-repeat;
}

.timer__counter {
    letter-spacing: .4rem;
    color: #4B4D4E;
}
