* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
}
.cards {
  height: 200px;
  cursor: pointer;
  transform-style: preserve-3d;
}

.back {
  color: white;
  background: #4b4d4e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  position: relative;
  bottom: 100%;
  z-index: -1;
}
.front {
  z-index: 1;
  position: relative;
  background-color: white;
  backface-visibility: hidden;
}

/* Pour retourner :  */
.flipper-front-on {
  z-index: -1;
  animation: rotatefront-on 0.6s ease-in-out;
  transition: z-index 0.7s ease-in-out;
}
.flipper-back-on {
  z-index: 1;
  animation: rotateback-on 0.6s ease-in-out;
  transition: z-index 0.7s ease-in-out;
}
.flipper-front-off {
  z-index: 1;
  animation: rotatefront-off 0.6s ease-in-out;
  transition: z-index 0.7s ease-in-out;
}
.flipper-back-off {
  z-index: -1;
  animation: rotateback-off 0.6s ease-in-out;
  transition: z-index 0.4s ease-in-out;
}

@keyframes rotatefront-on {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}
@keyframes rotateback-on {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes rotatefront-off {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes rotateback-off {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
.valid {
  animation: valid 0.3s ease-in-out;
}
@keyframes valid {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.unvalid {
  animation: unvalid 0.2s ease-in-out;
}
@keyframes unvalid {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translate(-10px);
  }
  50% {
    transform: translate(0px);
  }
  75% {
    transform: translate(10px);
  }
  100% {
    transform: translate(0);
  }
}
.progress-bar {
  width: 100%;
}

.timer-on {
  animation: timer 60s linear !important;
}

@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.winOrLose {
  animation: winOrLose 0.2s ease-in;
}
@keyframes winOrLose {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
